*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: linear-gradient(to right, #e2e2e2, #c9d6ff); */
  background-color: #d8e9f5;
  color: #333;
}
.container{
  margin: 0 15px;
}
.logo img{
  margin: -28px 80px;
  width: 200px;

}
form p{
  padding-bottom: -60px;
  font-size: 30px;
  font-weight: 700;
}
.entry-form{
  display: none; 
  margin-top: 20px;
  width: 100%;
  max-width: 450px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0,0,0,0.1);
}
.entry-form.active{
  display: block;
}
input{
  width: 100%;
  padding: 12px;
  background: #eee;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}
#error-message{
  color: red;
}
button{
  width: 100%;
  padding: 12px;
  background: #7494ec;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  transition: 0.5s;
}
button:hover{
  background: #2851c4;
}
p{
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
}
span a{
  /* text-decoration: none; */
}
#Register select{
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 30px;
  height: 6vh;
  outline: none;
  padding-left: 10px;
  background: #eee;
  border-radius: 10px;
}
#Register a{
  text-decoration: none;
  color: #fff; 
}
#link{
  padding-left: 60px;
}
#link a{
  padding-left: 10px;
  text-decoration: none;
  color: rgb(23, 23, 143);
}
#link a:hover{
  text-decoration: underline ;
  font-weight: 900;
}
.page{
  float: right;
}